.clearfields{
    
}
.showCursor{
    cursor: pointer;
}
.red{
    background-color:red;
}
.yellow{
    background-color:yellow;
}
.skyBlue{
    background-color:skyblue;
}
.green{
    background-color:green;
}